[defaults]
# Ścieżka do domyślnego inwentarza
inventory = inventory/hosts.yml

# Domyślny użytkownik SSH dla połączeń z węzłami (dostosuj do własnego środowiska)
remote_user = sysadmin

# Wyłączenie weryfikacji kluczy hosta (wygodne w lokalnym homelabie)
host_key_checking = False

# Wyłączenie tworzenia plików .retry w przypadku niepowodzenia playbooka
retry_files_enabled = False

# Czytelniejsza prezentacja wyniku wykonania zadań w terminalu (YAML output)
stdout_callback = default
callback_result_format = yaml

[privilege_escalation]
# Automatyczne podnoszenie uprawnień do roota przez sudo
become = True
become_method = sudo
become_user = root
become_ask_pass = False
