# ==============================================================================
# SZABLON INWENTARZA (inventory/hosts.yml.example)
# Skopiuj ten plik, usuń rozszerzenie .example (zapisz jako hosts.yml) 
# i podmień przykładowe adresy IP na rzeczywiste adresy w Twojej sieci LAN.
# ==============================================================================

all:
  children:
    core_nodes:
      hosts:
        alma-node1:
          # Główny adres IP serwera (np. maszyny wirtualnej), na którym Ansible zainstaluje usługi
          ansible_host: 10.0.0.10
          
          # Adres IP usługi DNS (np. kontenera Blocky/AdGuard), na który ma wskazywać ruch
          custom_dns_target_ip: 10.0.0.10
